html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.row {
  display: flex;
  padding: 0.9375rem 0;
  align-items: center;
}

.row > div {
  padding: 0 1.25rem;
}
.delete {
  margin-left: auto;
}
